body {
  background: #CCEAF1;
}

text{
  font-family:  Arial, sans-serif;
  font-size:12px;
  font-weight: bold;
  color: #fff !important;
  pointer-events:none;
}

#chart{
  position:absolute;
  width:500px;
  height:500px;
  top:0; 
  left:0;
  z-index: 1;
}

#chart::before
{
  content: "";
  display: block;
  position: absolute;
  width:102%;
  height:102%;
  left: 0;
  top: 0;
  pointer-events: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0,0,0,0.1);
  z-index: -1;
  /*background: transparent url("https://cdn.listagram.com/static/api/images/default/wheel_shadow_inside.png") no-repeat -40px -40px;
  background-size: cover;*/
}

#question{
  position: absolute;
  width:300px;
  height:500px;
  top:0;
  left:530px;
}
#question p{
  font-size: 26px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top:50%;
  -webkit-transform:translate(0,-50%);
  transform:translate(0,-50%);
}
